# terminalde şu komutu çalıştırabilirsiiz--> cp .env.example .env

POSTGRES_USER=ecom_user
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=ecommerce
PGADMIN_EMAIL=teamenai@applied.local
PGADMIN_PASSWORD=CHANGE_ME
EVENTS_PER_SECOND=100
TOTAL_EVENTS=30000
NUM_USERS=2000
DQ_ISSUE_RATE=0.025
