.env
*.env.local
__pycache__/
*.pyc
.venv/
venv/
.idea/
.vscode/
.DS_Store
logs/
*.log
nifi/conf/
nifi/state/
nifi/repositories/
es_data/
pg_data/
*.aux
*.log
*.out
*.toc
*.synctex.gz
nifi/drivers/*.jar